// color 
$c: #F08219
$cs: #F0821950
$ca: #FECC00

$c2: #0A0461
$c2a: #38319B

$c3: #458A31
$c3a: #67B437

$c4: #CFD0D0

// cont 
$ccont: #F0821905
$cacont: #FECC0005

$c2cont: #0A046105
$c2acont: #38319B05

$c3cont: #458A3105
$c3acont: #67B43705

// fonts
$bc: #ffffff
$bc90: #ffffff90

$fc: #202024
$fc60: #20202460
$fc2: #ffffff

// шрифты 
$fzh1: 32px
$fzh2: 26px
$fzh3: 22px
$fz: 20px
$fzmin: 16px

$fwh: 700
$fw: 400

// отступы 
$ps: 8px
$p: 16px
$pl: 24px

$psec: 50px
$psecl: 100px

$br: $ps

// переход на мобилку
$m: 976px

// высота меню
$menu_h: 60px
