.__btn
	display: flex
	align-items: center

	padding: $ps 2 * $pl

	background-color: $c
	color: $fc2
	text-transform: uppercase

	border: 1px solid $fc2
	border-radius: $br

	cursor: pointer
	&.__btn--cntrl
		background-color: $c2
		color: $ca
	&:hover
		background-color: $ca
		color: $fc
