.category-images
	.container
		padding-left: 0
		padding-right: 0
	.gmop__img
		width: calc(33% - 48px)
		margin: $pl
		@media(max-width: 800px)
			margin: 2px 2px
			width: calc(50% - 4px)
		@media(max-width: 450px)
			width: calc(90%)
			margin: 8px auto
