// for css
:root
	--color: #7b97f1
	--color-alt: #2dc5ff

// color 
$c: #7b97f1
$c2: #2dc5ff
// shadow
$c99: #7b97f199
$c80: #7b97f180
$c60: #7b97f160
$c40: #7b97f140
$c20: #7b97f120
//
$c299: #2dc5ff99
$c280: #2dc5ff80
$c260: #2dc5ff60
$c240: #2dc5ff40
$c220: #2dc5ff20

// template
$bc: #ffffff
$fc: #202024
// shadow
$bc99: #ffffff99
$bc80: #ffffff80
$bc60: #ffffff60
$bc40: #ffffff40
$bc20: #ffffff20
//
$fc99: #20202499
$fc80: #20202480
$fc60: #20202460
$fc40: #20202440
$fc20: #20202420

// cntrl
$bc2: #202024
$fc2: #ffffff
// shadow
$bc299: #20202499
$bc280: #20202480
$bc260: #20202460
$bc240: #20202440
$bc220: #20202420
//
$fc299: #ffffff99
$fc280: #ffffff80
$fc260: #ffffff60
$fc240: #ffffff40
$fc220: #ffffff20

// шрифты 
$fzh1: 36px
$fzh2: 30px
$fzh3: 18px
$fz: 16px
$fzmin: 12px

$fwh: 700
$fw: 400

// отступы 
$ps: 6px
$p: 12px
$pl: 24px

$psec: 50px
$psecl: 150px

// размеры экранов 
$dxl: 1200px
$dl: 1000px
$dm: 800px
$ds: 500px
$dxs: 400px

//
$m: 796px
