// background-image
.__bi
	background-repeat: no-repeat
	background-size: cover
	background-position: center center

// .__link
// 	position: relative
// 	&::before
// 		position: absolute
// 		content: ''

// 		bottom: 0
// 		left: 0
// 		width: 50px
// 		height: 4px

// 		opacity: 0
// 		background-color: $c
// 	&:hover::before
// 		opacity: 1
