@font-face
	font-family: 'Roboto Condensed'
	font-style: normal
	font-weight: $fw
	src: local('Roboto Condensed'), local('RobotoCn-Regular'), url('/design/template/fonts/roboto-condensed.woff') format('woff'), url('/design/template/fonts/roboto-condensed.ttf') format('truetype')
	font-display: fallback

@font-face
	font-family: 'Gilroy'
	font-style: normal
	font-weight: $fw
	src: local('Gilroy'), local('Gilroy'), url('/design/template/fonts/gilroy-woff/Gilroy-Regular.woff') format('woff'), url('/design/template/fonts/gilroy-ttf/Gilroy-Regular.ttf') format('truetype')
	font-display: fallback
