.progress-bar
	width: 0
	height: $menu_border_height
	background-color: $ct2
	position: fixed
	left: 0
	top: $menu_height
	z-index: 70

@media (max-width: 560px)
	.progress-bar
		height: 2px
