@use "sass:math"

// color 
$c: #3983aa
$c40: #3983aa40
$ca: #aaeed9
$ca30: #aaeed930

$cb: #48466e
$cb80: #48466e80
$cb00: #48466e00
$cc: #3dccd0
$cc30: #3dccd050

$c2: #1a1b20
$c2a: #181818
$c2c: #1b1d22

$c3a: #84bec040

// fonts
$bc_body: #f3f3f3
$bc: #ffffff
$fc: #202024

$bc2: #202024
$fc2: #ffffff

// шрифты 
$fzh1: 30px
$fzh2: 24px
$fzh3: 18px

$fz: 16px
$fzs: 14px

$fwh: 700
$fw: 400

// m
$fzh1_m: 28px
$fzh2_m: 22px
$fzh3_m: 18px

$fzh1_ms: 26px
$fzh2_ms: 20px
$fzh3_ms: 16px

$fzl_m: 18px
$fz_m: 14px
$fzs_m: 12px

// отступы 
$ps: 8px
$p: 16px
$pl: 24px

$psec: 50px

// special
$opl: 0.7
$op: 0.5
$ops: 0.3

// переход на мобилку
$m: 976px
$d: 977px

$menu_m: 481px
$menu_d: 482px

$dl: 1200px
$dm: 800px
$ds: 600px
$dxs: 450px

// высота меню
$menu_h: 100px

// shadow
$c80: #fdb72a80
$c60: #fdb72a60
$c40: #fdb72a40
$c20: #fdb72a20
$c00: #fdb72a00

$ca80: #ff901880
$ca60: #ff901860
$ca40: #ff901840
$ca20: #ff901820
$ca00: #ff901800

$bc80: #ffffff80
$bc60: #ffffff60
$bc40: #ffffff40
$bc20: #ffffff20
$bc00: #ffffff00

$fc80: #20202480
$fc60: #20202460
$fc40: #20202440
$fc20: #20202420
$fc00: #20202400

$bc280: #20202480
$bc260: #20202460
$bc240: #20202440
$bc220: #20202420
$bc200: #20202400

$fc280: #d7dbdd80
$fc260: #d7dbdd60
$fc240: #d7dbdd40
$fc220: #d7dbdd20
$fc200: #d7dbdd00
