.__btn
	display: flex
	justify-content: center
	align-items: center
	align-content: center

	width: 260px
	height: 60px

	background: linear-gradient(to right, $c2a, $c2c)

	font-family: 'century gothic bold'
	cursor: pointer
	&:hover
		background: linear-gradient(to right, $c, $ca)

		span:first-child
			color: #fff
		span:last-child
			color: $fc

.--cntrl
	.__btn
		border: 2px solid $c
		&:not(:hover)
			background: none
