.aside__btn
	padding-top: $p
	padding-bottom: $p

	font-family: 'century gothic bold'

.ab__btn
	padding: $ps $ps

	border: 4px solid $fc2
	background-color: $cb
	color: $fc2

	text-transform: uppercase
	cursor: pointer
	&:hover
		border-color: $c
		color: $c
