// color 
$c: #54bbd1
$c2: #c7373e
// shadow
$c99: #54bbd199
$c80: #54bbd180
$c60: #54bbd160
$c40: #54bbd140
$c20: #54bbd120
//
$c299: #c7373e99
$c280: #c7373e80
$c260: #c7373e60
$c240: #c7373e40
$c220: #c7373e20

// template
$bc: #ffffff
$fc: #202024
// shadow
$bc99: #ffffff99
$bc80: #ffffff80
$bc60: #ffffff60
$bc40: #ffffff40
$bc20: #ffffff20
//
$fc99: #20202499
$fc80: #20202480
$fc60: #20202460
$fc40: #20202440
$fc20: #20202420

// cntrl
$bc2: #202024
$fc2: #ffffff
// shadow
$bc299: #20202499
$bc280: #20202480
$bc260: #20202460
$bc240: #20202440
$bc220: #20202420
//
$fc299: #ffffff99
$fc280: #ffffff80
$fc260: #ffffff60
$fc240: #ffffff40
$fc220: #ffffff20

// шрифты 
$fzh1: 28px
$fzh2: 24px
$fzh3: 22px
$fz: 19px
$fzmin: 16px

$fwh: 700
$fw: 400

// отступы 
$ps: 6px
$p: 12px
$pl: 24px

$psecs: 50px
$psec: 100px
$psecl: 200px

// размеры экранов 
$dxl: 1200px
$dl: 1000px
$dm: 800px
$ds: 500px
$dxs: 400px

// переход на мобилку
$m: 768px

// border
$border: 4px solid $fc2
$border_m: 2px solid $fc2
