p
	margin-top: 0
	margin-bottom: $p

input, button
	outline: none

html,
body
	margin: 0
	font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
	font-size: $fz
	font-weight: $fw
	background-color: $bc
	color: $fc

ol,
ul
	padding-left: $p
	margin-top: 0
	margin-bottom: $p
li
	margin-bottom: 0.2rem

a
	text-decoration: none
	color: inherit
	cursor: pointer
a:hover
	color: $c

table
	caption-side: bottom
	border-collapse: collapse

*:focus-visible
	outline: none

*, ::after, ::before
	box-sizing: border-box
