.distributions__modal__items
	position: relative
	margin-bottom: $p

.distributions__modal__item
	width: 50%
	padding: $p

	justify-content: flex-start
	align-items: start
	body.--sm &
		width: 100%

.distributions__modal__item-country
	margin-bottom: $p
	font-size: $fzh2
	opacity: $op

.distributions__modal__item-city-cont
	margin-bottom: $ps

.distributions__modal__item-city
	padding: $ps

	border-radius: $rad
	background-color: #e1efd0
	cursor: pointer
	&:hover
		background-color: #b4df7f
