.distributions__modal
	.__btn
		position: relative
		background: $fc
		width: 200px
		height: 40px
		&:hover
			background: $grad
	.distributions__modal__item-city-data
		display: none

.distributions
	.__substrate
		z-index: 70
