.menu__submenu
	position: absolute

	top: 0
	height: 100vh
	left: 100%
	width: $submenuw

	padding-top: $menuh
	color: $fc

.menu__submenu-list
	@extend .__fcol
	justify-content: flex-start
	align-items: flex-start

.menu__submenu-item
	padding-top: $ps
	padding-bottom: $ps
	text-transform: uppercase
