.litsenziya__link-to-fips
	display: inline-block

	mini-width: 30%
	padding: $p $psec
	margin: $psecl auto

	border-radius: $br
	cursor: pointer
	font-size: $fzh2
	font-weight: $fwh

	color: $fc2
	background-color: $c2a
	&:hover
		color: $ca
		background-color: $c2
	@media (max-width: $m)
		margin: $psec auto
	@media (max-width: 650px)
		margin: $pl auto
