@use "sass:math"

// color 
$c: #ffdb0d
$c2: #ffbb34

$cg1: #141c27
$cg2: #10151e
$cg3: #141c27

// shadow
$c80: #ffdb0d80
$c60: #ffdb0d60
$c40: #ffdb0d40

// template
$cb: #ffffff
$ct: #131924
// shadow
$cb80: #ffffff80
$cb60: #ffffff60
$cb40: #ffffff40
$cb20: #ffffff20
$cb00: #ffffff00
//
$ct80: #13192480
$ct60: #13192460
$ct40: #13192440

// cntrl
$cb2: #131924
$ct2: #ffffff
// shadow
$cb280: #13192480
$cb260: #13192460
$cb240: #13192440

// шрифты 
$fzh1: 26px
$fzh2: 22px
$fzh3: 18px
$fz: 16px
$fzmin: 14px

$fwh: 700
$fw: 400

// отступы 
$ps: 8px
$p: 16px
$pl: 24px

$psec: 60px
$psecl: 100px

// размеры экранов 
$dxl: 1200px
$dl: 1000px
$dm: 800px
$ds: 500px
$dxs: 400px
