// стили для блоков с контрастным цветом
.__cntrl
	background-color: $cb2
	color: $ct2

// background-image
.__bi
	background-repeat: no-repeat
	background-size: cover
	background-position: center center

// substrate
.substrate
	position: fixed
	top: -100vh
	left: 0
	width: 100%
	height: 100vh
	background: rgba(0,0,0,0.5)
	z-index: 60
	opacity: 0
	backdrop-filter: blur(3px)
	cursor: pointer
	transition: 300ms 300ms top, 300ms opacity
.__active .substrate
	top: 0
	opacity: 1
	transition: 0ms top, 300ms opacity

// flex
.__flex
	display: flex
	justify-content: space-between
	flex-wrap: wrap
.__fcol
	flex-direction: column
	flex-wrap: nowrap
.__fnw
	flex-wrap: nowrap
// justify-content
.__fc
	justify-content: center
	align-items: center
.__fs
	justify-content: flex-start
	align-items: flex-start
.__fe
	justify-content: flex-end
	align-items: flex-end
.__fse
	justify-content: space-evenly
	align-items: space-evenly
.__fsa
	justify-content: space-around
	align-items: space-around
// align-items
.__fais
	align-items: flex-start
.__faic
	align-items: center
