.__fixed-btn
	position: fixed
	width: 45px
	height: 45px
	border: 1px solid $fc240
	background-color: $c
	cursor: pointer
	z-index: 10
	opacity: 0
	&.__active
		opacity: 1
	svg
		width: 80%
		padding-left: 20%
		padding-top: 25%
	path
		fill: $fc2
	&:hover
		background-color: $bc
		border-color: $fc40
		path
			fill: $c2
