.products__info-cont
	width: 56%
	@media (max-width: $m)
		margin-top: $psec_m
		width: 100%

.products__presentation-cont
	width: 40%
	@media (max-width: $m)
		width: 100%

// info
.--cntrl .products__heading
	color: $c

.products__info
	height: 100%

.products__price-btn-cont
	margin-top: $pl
	margin-right: 10%
	.--cntrl &
		margin-left: 10%

.products__li
	position: relative
	padding-left: 36px
	svg
		position: absolute

		top: 2px
		left: 0
		height: 24px

.products__price-btn-text
	margin-top: $pl
	text-align: right
	.--cntrl &
		text-align: left
