.mtf__links
	@media (max-width: $m_btn)

		position: fixed
		z-index: 65

		top: -100vh
		left: 0
		right: 0
		height: 200px

		border-top: 4px solid $fc2
		border-bottom: 4px solid $fc2
		background-color: $bc2
		flex-direction: column
		justify-content: center
		flex-wrap: nowrap
		.__active &
			top: $menu_height
