.logo
	padding-top: $psecl
	padding-bottom: $psecl

	color: $fc2
	background-color: $c
	.main & .__container
		background: none

.logo__col
	width: 48%
	@media (max-width: $m)
		width: 100%
	span
		font-style: italic

.logo__img
	width: 100%
