// footerline__contacts 
.footerline__contacts
	padding-top: $pl
	padding-bottom: $pl
	overflow: hidden
	font-size: $fzh2
.fc__item
	padding-left: $pl
	padding-right: $pl
	@media (max-width: 970px)
		width: 50%
	@media (max-width: 530px)
		width: 100%

.fc__link
	height: 60px
	&:hover
		color: $c
		path
			fill: $c

.fc__svg
	height: 1.5 * $fzh3
	padding-right: $ps
	path
		fill: $cb
