.footer__catalog__pages
	color: $ct2
	padding-top: $psec
	padding-bottom: $psec
	background-image: url('/design/template/images/footer__catalog__pages/background-images/image_1.jpg')

// fcp__heading 
.fcp__heading
	padding-bottom: $p
	span
		padding-bottom: $ps
		border-bottom: 1px solid $c

// category 
.fcp__category-container
	width: 60%
	@media (max-width: $ds)
		width: 100%
		padding-bottom: $pl
.fcp__category-link
	width: 46%
	padding-bottom: $p
	font-weight: bold
	&:hover
		color: $c
	@media (max-width: $dm)
		width: 100%

// pages 
.fcp__pages-container
	width: 30%
	@media (max-width: $ds)
		width: 100%
.fcp__pages-link
	width: 100%
	padding-bottom: $p
	font-size: $fzh3
	font-weight: bold
	&:hover
		color: $c
