.template-heading
	color: $ct
	text-transform: uppercase
	span
		border-bottom: 1px dashed $ct
	.__cntrl &
		color: $c
		span
			border-color: $c

section ul
	padding-left: $pl

mark
	background: none
