// .butt
// 	margin-top: 10px
// 	@media (max-width: 980px)
// 		margin-left: 42px
// 		margin-top: -1px
// 	button
// 		@media (max-width: 1200px)
// 			padding: 15px 26px
// 			width: 140px
// 		@media (max-width: 980px)
// 			padding: 15px 26px
// 			width: auto
// 		&:first-child
// 			left: -19px
// 			position: relative

.product__credit-buttons
	button
		margin-top: $ps
		margin-left: $ps
		width: fit-content
		height: 40px

		font-family: 'montserrat_medium'
		&:hover
			box-shadow: -0.5 * $ps 0.5 * $ps $ps #fcc52150
