.product__bye-btn.__btn
	width: 120px
	height: 40px

.product__bye-description
	height: 100%

.product__bye-cont
	justify-content: flex-end

.product
	.product__price
		padding-right: $p
	.h1
		margin-bottom: 0
	.value
		color: $c
	.currency
		opacity: $op

.product
	.product__installation.__wrapper
		margin-top: $p !important
