.product
	padding-top: $psec
	padding-bottom: $psec
	p
		font-family: "montserrat_regular"
	.__wrapper
		margin: 0 !important

.product__heading
	opacity: $ops
	font-size: ($fzh3 + $fz) * .5

ol.product__list
	list-style: decimal
ul.product__list
	list-style: disc

.product__list
	padding-left: $p
	padding-bottom: $p
	li
		padding-bottom: $ps
		&::marker
			color: #79797c
		span
			font-family: "montserrat_regular"
