.contacts
	.distributions__modal__item
		display: block
		width: 100%
	.distributions__modal__item-country
		display: inline-block
		font-family: 'montserrat_extra_bold'
		margin-bottom: $p
		font-size: $fzh1
	.distributions__modal__item-citys
		flex-wrap: wrap !important
		flex-direction: row !important
	.distributions__modal__item-city-cont
		margin-bottom: $psec
		body.--d &
			width: 50%
	.distributions__modal__item-city
		margin-bottom: $p
		font-size: $fzh3
		color: $c
		padding: 0
		background: none
		cursor: auto
		&:hover
			background: none

	.distributions__modal__item-city-data br
		display: none
	.__btn
		background: $fc
		width: 200px
		height: 40px
		&:hover
			background: $grad
