.fmc__type-btn
	padding: $ps
	margin-bottom: $p

	min-height: 60px
	width: 46%
	border: 2px solid #c4c4c4
	font-size: $fz
	border-radius: .375rem
	background-color: $bc

	opacity: 0.9
	cursor: pointer
	text-align: center
	&:hover
		border-color: $c
	&.--active
		background-color: $c
		color: $fc2
		border-color: $c

.fmc__type-btn-input
	display: none

.fmc__type-error
	min-height: 50px
	padding-bottom: $p
