@use "sass:math"

// color 
$c: #fdb72a
$ca: #ff9018

$c2: #1a1b20
$c2a: #181818
$c2c: #1b1d22

$c3a: #84bec040

// fonts
$bc: #ffffff
$fc: #202024

$bc2: #202024
$fc2: #d7dbdd

// шрифты 
$fzh1: 50px
$fzh2: 30px
$fzh3: 24px

$fzl: 24px
$fz: 20px
$fzs: 16px

$fwh: 700
$fw: 400

// m
$fzh1_m: 30px
$fzh2_m: 25px
$fzh3_m: 20px

$fzh1_ms: 24px
$fzh2_ms: 22px
$fzh3_ms: 20px

$fzl_m: 20px
$fz_m: 16px
$fzs_m: 12px

// отступы 
$ps: 10px
$p: 20px
$pl: 30px

$psec: 150px
$psec_m: 50px

// special
$ops: 0.6
$op: 0.3

$deg: 120deg
$skew: -2deg

// переход на мобилку
$m: 976px
$d: 977px

// высота меню
$menu_h: 100px

// shadow
$c80: #fdb72a80
$c60: #fdb72a60
$c40: #fdb72a40
$c20: #fdb72a20
$c00: #fdb72a00

$ca80: #ff901880
$ca60: #ff901860
$ca40: #ff901840
$ca20: #ff901820
$ca00: #ff901800

$bc80: #ffffff80
$bc60: #ffffff60
$bc40: #ffffff40
$bc20: #ffffff20
$bc00: #ffffff00

$fc80: #20202480
$fc60: #20202460
$fc40: #20202440
$fc20: #20202420
$fc00: #20202400

$bc280: #20202480
$bc260: #20202460
$bc240: #20202440
$bc220: #20202420
$bc200: #20202400

$fc280: #d7dbdd80
$fc260: #d7dbdd60
$fc240: #d7dbdd40
$fc220: #d7dbdd20
$fc200: #d7dbdd00
