mark
	background: none
	text-transform: uppercase
	color: inherit
	font-family: 'century gothic bold'

.__op
	opacity: $ops

.__tac
	text-align: center

.__pt-pl
	padding-top: $pl

.__fcc
	color: $c

.__bi
	background-repeat: no-repeat
	background-size: cover
	background-position: center center
