.articles__body
	margin-top: $psec
	ul
		margin-left: $pl

.articles__die
	border-radius: $br
	overflow: hidden
	& > *
		height: 60px

.articles__die-border
	width: 50px
	background-color: $c3

.articles__die-name
	width: calc(100% - 150px)
	padding-left: $ps
	padding-right: $ps

	color: $fc2
	background-color: $c3a
	text-transform: uppercase
	span:first-child
		font-weight: bold
	span:last-child
		font-size: $fzmin

.articles__die-year
	width: 100px
	background-color: $c4

	color: $c3
	font-weight: bold
	font-size: $fzh2

.articles__text
	padding-top: $p

// .articles__akciya
// 	text-align: center

// .articles__akciya-heading
// 	span
// 		color: $c2
// 		position: relative
// 		background: none
// 	& span::before
// 		position: absolute
// 		content: '*'

// 		top: calc(50% - $fzh1 / 2)
// 		left: -$pl

// 		color: $c
// 		font-weight: bold
// 		font-size: $fzh1
