.main .articles
	.__container
		padding-top: $psec
		padding-bottom: $psec
	@media (max-width: 660px)
		.__container
			padding-top: $pl
			padding-bottom: $pl

.articles__items
	margin-top: -2 * $psec
	@media (max-width: $m)
		margin-top: 0
.articles__item
	width: 44%
	@media (max-width: 660px)
		width: 100%
