//	social
.mtf__menu__contacts-svg
	height: $menu_height * 0.4
	.__wa &
		path
			fill: #00c83c
	.__tg &
		path
			fill: #00a7e3
	.__vb &
		path
			fill: #8a51a2

.mtf__menu__item:hover
	path
		fill: $ct2

//	phone
.__phone
	font-size: $fzh2
	@media (max-width: 515px)
		font-size: $fz
