.mtf__links
	@media (max-width: 850px)

		position: fixed
		z-index: 65

		top: -100vh
		left: 0
		right: 0
		height: 200px

		border-bottom: 4px solid $ct2
		background-color: $cb2
		flex-direction: column
		justify-content: space-evenly
		.__active &
			top: $menu_height + 4px
