.slider__heading
	position: relative
	z-index: 7
	width: 80%

	margin-bottom: $p

	font-size: 36px
	line-height: 40px
	letter-spacing: 0.1px
	font-weight: 500
	color: $fc2
	.--index &
		color: $fc
	& span
		font-weight: bold
		text-shadow: 1px 1px 1px $bc2
	@media (max-width: 750px)
		width: 100%
		font-size: $fzh3
	@media (max-width: 500px)
		font-size: $fz

.slider__text
	position: relative
	z-index: 7
	width: 80%

	font-size: $fzh2
	color: $fc2
	@media (max-width: 750px)
		width: 100%
		font-size: $fzh3
	@media (max-width: 500px)
		font-size: $fz
	.--index &
		color: $fc
