// color 
$c: #c60200
$c2: #c7373e
// shadow
$c99: #c6020099
$c80: #c6020080
$c60: #c6020060
$c40: #c6020040
$c20: #c6020020
//
$c299: #c7373e99
$c280: #c7373e80
$c260: #c7373e60
$c240: #c7373e40
$c220: #c7373e20

// template
$cb: #ffffff
$ct: #202024
// shadow
$cb99: #ffffff99
$cb80: #ffffff80
$cb60: #ffffff60
$cb40: #ffffff40
$cb20: #ffffff20
//
$ct99: #20202499
$ct80: #20202480
$ct60: #20202460
$ct40: #20202440
$ct20: #20202420

// cntrl
$cb2: #202024
$ct2: #ffffff
// shadow
$cb299: #20202499
$cb280: #20202480
$cb260: #20202460
$cb240: #20202440
$cb220: #20202420
//
$ct299: #ffffff99
$ct280: #ffffff80
$ct260: #ffffff60
$ct240: #ffffff40
$ct220: #ffffff20

// шрифты 
$fzh1: 26px
$fzh2: 22px
$fzh3: 20px
$fz: 18px
$fzmin: 12px

$fwh: 700
$fw: 400

// отступы 
$ps: 6px
$p: 12px
$pl: 24px

$psec: 50px
$psecl: 70px

// размеры экранов 
$dxl: 1200px
$dl: 1000px
$dm: 800px
$ds: 500px
$dxs: 400px
