.ft__heading
	margin-top: $psec !important
	margin-bottom: $psec !important
	&.__delimiter::before
		left: calc(50% - 100px)
		width: 200px

.ft__advantage__heading.__delimiter::before
	left: 0
