.ft__advantage
	width: 40%
	@media (max-width: $m)
		width: 100%

.ft__advantage__item:not(:first-child)
	padding-top: $pl
.ft__advantage__item:not(:last-child)
	padding-bottom: $pl

.ft__advantage__heading
	font-size: $fzh3
	font-weight: $fwh
