.ft__top > *
	padding: $pl
	width: 50%
	@media (max-width: $m)
		width: 100%
		padding: $ps 0

.ft__top__text	span
	background-color: $c
	color: $fc2

.ft__top__img
	border: $border
	width: 100%
