.tc__item-info
	padding: $pl
	font-size: $fzh1

	text-align: center
	width: 40%
	@media (max-width: $m)
		width: 100%
		padding: $p $ps
	span
		font-weight: bold
		color: $c
		text-transform: uppercase

.tc__item-info__price
	padding-bottom: $pl
	@media (max-width: $m)
		padding-bottom: $p
	span
		font-size: 40px

.tc__item-img
	width: 100px
	max-width: 80%
	path:nth-child(2n)
		fill: $fc2
