// color 
$c2: #ff7643
$c280: #ff764380
$c260: #ff764360
$c240: #ff764340
$c220: #ff764320
$cc2: #dd411c
$csvg2: #ff7643 // цвет для svg

$fcday: #000000
$bcc2: #ffffff
$bc_gallery_day: #eddad3

$bc_text2: #ffffff

$border2: #cccccc

// shadow 
$cs2: #ff764380
$csb2: #14141430
$cst2: #ffffff30

// тени для анимации на галлерее
$c210: #ff764310
$c250: #ff764350
$c230: #ff764330
