// color 
$c: #05a4fa
$c80: #05a4fa80
$c60: #05a4fa60
$csvg: #0589cf // цвет для svg
$cc: #078ad1

$bc: #282828
$bc60: #28282860
$bc10: #28282810
$fc: #ffffff
$fc60: #ffffff60
$fc10: #ffffff10

$bc2: #ffffff
$fc2: #282828

$bca: #05a4fa
$fca: #141414

$bcc: #0c0c0c

$bc_text: #171717

$bcorder: #404040

// shadow 
$cs: #05a4fa80
$csb: #14141430
$cst: #ffffff30

// тени для анимации на галлерее
$c10: #05a4fa10
$c50: #05a4fa50
$c30: #05a4fa30
