path
	.--day &
		fill: $csvg2
	.--night &
		fill: $csvg

polygon
	.--day &
		fill: $csvg2
	.--night &
		fill: $csvg

.__svg-link path
	.--day &
		fill: $fc2
	.--night &
		fill: $bc

.__svg-link:hover path
	.--day &
		fill: $c260
	.--night &
		fill: $c60
