.bif__call-block
	position: relative
	border: 2px solid $fc2
	padding: $pl
	font-size: $fzh3
	text-transform: uppercase
	color: $fc2
	&::before
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		content: ''
		background: linear-gradient(45deg, #333333, #33333360, #333333)
		opacity: 0.5
	& > *
		position: relative
		z-index: 1

.bif__call-block__text
	padding-bottom: $pl
	.__phone
		font-size: 30px
		font-weight: bold
		padding: $ps
		margin-top: $ps
		margin-bottom: $ps
		display: inline-block
		border-bottom: 2px dashed $c
		&:hover
			background-color: $c
			color: $fc2

.bif__btn
	height: 50px
