@font-face
	font-family: 'montserrat_bold'
	src: url('/font/__template/fonts/montserrat/Montserrat-Bold.eot')
	src: url('/font/__template/fonts/montserrat/Montserrat-Bold.eot?#iefix') format('embedded-opentype'), url('/font/__template/fonts/montserrat/Montserrat-Bold.woff2') format('woff2'), url('/font/__template/fonts/montserrat/Montserrat-Bold.woff') format('woff'), url('/font/__template/fonts/montserrat/Montserrat-Bold.ttf') format('truetype')
	font-weight: bold
	font-style: normal

@font-face
	font-family: 'montserrat_medium'
	src: url('/font/__template/fonts/montserrat/Montserrat-Medium.eot')
	src: url('/font/__template/fonts/montserrat/Montserrat-Medium.eot?#iefix') format('embedded-opentype'), url('/font/__template/fonts/montserrat/Montserrat-Medium.woff2') format('woff2'), url('/font/__template/fonts/montserrat/Montserrat-Medium.woff') format('woff'), url('/font/__template/fonts/montserrat/Montserrat-Medium.ttf') format('truetype')
	font-weight: 500
	font-style: normal

@font-face
	font-family: 'montserrat_regular'
	src: url('/font/__template/fonts/montserrat/Montserrat-Light.eot')
	src: url('/font/__template/fonts/montserrat/Montserrat-Light.eot?#iefix') format('embedded-opentype'), url('/font/__template/fonts/montserrat/Montserrat-Light.woff2') format('woff2'), url('/font/__template/fonts/montserrat/Montserrat-Light.woff') format('woff'), url('/font/__template/fonts/montserrat/Montserrat-Light.ttf') format('truetype')
	font-weight: 500
	font-style: normal

@font-face
	font-family: 'montserrat_extra_bold'
	src: url('/font/__template/fonts/montserrat/Montserrat-ExtraBold.eot')
	src: url('/font/__template/fonts/montserrat/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'), url('/font/__template/fonts/montserrat/Montserrat-ExtraBold.woff2') format('woff2'), url('/font/__template/fonts/montserrat/Montserrat-ExtraBold.woff') format('woff'), url('/font/__template/fonts/montserrat/Montserrat-ExtraBold.ttf') format('truetype')
	font-weight: 800
	font-style: normal

@font-face
	font-family: 'montserrat_semi_bold'
	src: url('/font/__template/fonts/montserrat/Montserrat-SemiBold.eot')
	src: url('/font/__template/fonts/montserrat/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'), url('/font/__template/fonts/montserrat/Montserrat-SemiBold.woff2') format('woff2'), url('/font/__template/fonts/montserrat/Montserrat-SemiBold.woff') format('woff'), url('/font/__template/fonts/montserrat/Montserrat-SemiBold.ttf') format('truetype')
	font-weight: 600
	font-style: normal
