@use "sass:math"

// color 
$c: #00b601
$c50: #00b60150
$c25: #00b60125

$ca: #0c6d1c
$ca50: #0c6d1c50

$cc: #0dceff

$bc: #ffffff
$fc: #202024

$bc2: #1a1819
$bc2a: #39393b
$fc2: #ffffff

$bc3: #d7dae1
$bc3g: #d9f3e6

// fonts
// d
$fzh1: 30px
$fzh2: 25px
$fzh3: 22px

$fz: 18px
$fzs: 16px

// m
$fzh1m: 26px
$fzh2m: 22px
$fzh3m: 18px

$fzm: 18px
$fzsm: 16px

// отступы 
$ps: 8px
$p: 20px
$pl: 35px

$psec: 50px

// special
$ops: 0.6
$op: 0.3

$deg: 105deg
$blur: 3px
$rad: $ps
$grad: linear-gradient($deg, $c, $c, $c, $ca)
$grada: linear-gradient($deg, $ca, $ca)
$trans: rgba(256, 256, 256, 0.3)

// переход на мобилку
$m: 976px
$d: 977px
$hd: 1400px

// высота меню
$menu_h: 100px

// shadow
$c80: #00b60180
$c60: #00b60160
$c40: #00b60140
$c20: #00b60120
$c00: #00b60100

$ca80: #0f701f80
$ca60: #0f701f60
$ca40: #0f701f40
$ca20: #0f701f20
$ca00: #0f701f00

$bc80: #ffffff80
$bc60: #ffffff60
$bc40: #ffffff40
$bc20: #ffffff20
$bc00: #ffffff00

$fc80: #20202480
$fc60: #20202460
$fc40: #20202440
$fc20: #20202420
$fc00: #20202400

$bc280: #20202480
$bc260: #20202460
$bc240: #20202440
$bc220: #20202420
$bc200: #20202400

$fc280: #d7dbdd80
$fc260: #d7dbdd60
$fc240: #d7dbdd40
$fc220: #d7dbdd20
$fc200: #d7dbdd00
