.__hd
	@media (max-width: $hd - 1px)
		display: none !important

.__d
	@media (min-width: $hd)
		display: none !important
	@media (max-width: $m)
		display: none !important

.__m
	@media (min-width: $d)
		display: none !important
