section
	&.--cntrl
		color: $fc2
		background: linear-gradient($deg, $bc2, $bc2a, $bc2a, $bc2)
	&.--alt
		background: linear-gradient($deg, $bc3, $bc3g, $bc3)
	&.--cntrl,
	&.--alt
		.__wrapper
			margin-top: $psec
			margin-bottom: $psec
			padding: $p
			color: $fc

			background-color: $bc40
			border-radius: $rad
			background: linear-gradient($deg,$bc,$bc,#f2fff5)

.--temp
	background: linear-gradient($deg,$bc,$bc,#eefbf1) !important
main
	background: linear-gradient($deg,$bc,#eefbf1) !important
