html,
body
	font-family: 'montserrat_medium'
	margin: 0
	color: $fc

p
	padding-bottom: $p

a
	text-decoration: none
	color: inherit
	cursor: pointer

table
	caption-side: bottom
	border-collapse: collapse

input, button
	outline: none

*:focus-visible
	outline: none

*, ::after, ::before
	box-sizing: border-box
