.__ul
	margin-left: $p
	li
		position: relative
		padding-left: 30px
		list-style: none
		&::before
			position: absolute
			content: ''

			top: 0
			left: 0
			bottom: 0
			width: 20px

			background-image: url('/images/__template/icon/array.svg')
			background-position: center
			background-size: contain
			background-repeat: no-repeat
