.bg__square
	width: 16px
	height: 16px
	margin: 2px
	box-shadow: 0 0 2px $square_shadow
	background-color: $square_bg
	&:hover
		transition-duration: 0s
	&.__passed
		background-color: $square_bg_alt
