// __________________ 
.text__cntrl
	background-image: url('/design/template/images/background-image-text/background-images/image_1.jpg')
	color: $ct2
	padding-top: $psec
	padding-bottom: $psec
	p
		font-size: $fzh3

.tc__content
	width: 90%
	margin-left: auto
	margin-right: auto
.tc__content > *
	padding-left: $pl
	padding-right: $p
