.__mb
	margin-bottom: 2px
	@media (max-width: 660px)
		margin-bottom: 0

.--fcc,
.--fcca,
.--fcc2,
.--fcc2a,
.--fcc3,
.--fcc3a
	font-weight: bold
.--fcc
	color: $c
.--fcca
	color: $ca
.--fcc2
	color: $c2
.--fcc2a
	color: $c2a
.--fcc3
	color: $c3
.--fcc3a
	color: $c3a
