.gallery--explosion__modal
	position: fixed
	z-index: -1

	top: 0
	left: 0
	width: 100vw
	height: 100vh

	min-width: 1000px
	min-height: 600px
	padding-top: 0
	padding-bottom: 0

	opacity: 0
	background-color: $bc2
	color: $fc2

	&--opening,
	&--opened
		z-index: 150
	&--opening
		.gem__image
			transition: none
