.t__top > *
	padding: $pl
	width: 50%
	@media (max-width: $m)
		width: 100%
		padding: $ps 0

.t__top__text	span
	font-weight: bold

.t__top__img-container
	@media (max-width: $m)
		display: none
.t__top__img
	border: $border
	width: 100%
