.about__images
	padding-top: 2 * $pl
	align-items: center
	@media (max-width: 1250px)
		justify-content: space-evenly
	@media (max-width: $m)
		display: none

.about__image
	width: 27.5%
	img
		width: 100%
