.gallery__hashtags
	padding-top: $pl
	padding-bottom: $pl

.gallery__hashtag
	padding: $ps
	cursor: pointer
	&.--clear
		opacity: $ops
	&.--active
		color: $c

// hashtag exit
.gallery__hashtags
	opacity: 0
	@media (max-width: $m)
		height: 0

.gallery__hashtag
	pointer-events: none
