.gallery.--all
	padding-top: $psec
	padding-bottom: $psec

.gallery__btn
	cursor: pointer
	opacity: $ops
	.gallery.--all &
		height: 100%
		width: 80px
		z-index: 250
	.gallery:not(.--all) &
		position: absolute

		top: 0
		bottom: 0
		z-index: 5
	&.--prev
		left: 0
	&.--next
		right: 0
	&.--close
		position: absolute
		z-index: 300
		height: 100px !important

		right: 0
		opacity: 1
	svg
		padding-right: 10px
		padding-left: 10px
		@media (min-width: $d)
			width: 80px
		@media (max-width: $m)
			width: 40px
	path
		.gallery:not(.--all) &
			fill: $fc
		.gallery.--all &
			fill: #cbcbcb
	&:hover
		opacity: 1
		path
			.gallery &
				fill: url(#--active)

.gallery__content-wrapper
	@media (min-width: 1000px)
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
