.tc__item-inner
	position: relative

.tc__item
	position: absolute
	top: 0
	left: 100%
	width: 100%
	opacity: 0

	padding-top: 50px
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	@media (max-width: 800px)
		padding-top: 0
