.t__heading
	position: absolute
	top: -30px
	left: -30px

	height: 60px
	width: 300px
	background-color: $cb2
	border: 4px solid $ct2

	font-size: $fzh2
	font-weight: bold
	color: $ct2
	text-transform: uppercase
	@media (max-width: 450px)
		left: -20px
