.__steps
	padding-top: 2 * $psec
	padding-bottom: 2 * $psec
	.t__item
		padding-top: 30px + $p
		&:nth-child(1):before
			content: '1 шаг'
		&:nth-child(2):before
			content: '2 шаг'
		&:nth-child(3):before
			content: '3 шаг'
		&:nth-child(4):before
			content: '4 шаг'
