.__white .container
	position: relative
	border: 4px solid $ct
	margin-right: auto
	margin-left: auto
	background-color: $cb99
	padding-top: $psec
	padding-bottom: $psec
	@media (max-width: $dxl)
		max-width: calc(100% - 50px)
