@use "sass:math"

// color 
$c: #ff7643
$c50: #ff764350
$c25: #ff764325
$ca: #ea274d
$clink: #3870ec
$clink25: #3870ec25

$ch: #374151
$c2: #1a1b20
$c2a: #000404
$c2c: #402424

$c3a: #84bec040

// fonts
$bc: #ffffff
$fc: #202024

$bc2: #202024
$fc2: #ffffff

$fzh1: 32px
$fzh2: 28px
$fzh3: 24px

$fz: 20px
$fzs: 18px

// отступы 
$ps: 10px
$p: 20px
$pl: 30px

$psec: 50px
$psec_m: 50px

// special
$ops: 0.5
$op: 0.3

$deg: 125deg
$skew: -2deg
$rad: $ps
$grad: linear-gradient($deg, $c, $c, $ca)
$grada: linear-gradient($deg, $bc, $bc, $bc)
$gradback: linear-gradient($deg, $c2a, $c2c)

// переход на мобилку
$sm: 600px
$m: 976px
$d: 977px
$hd: 1400px

// высота меню
$menu_h: 100px

// shadow
$c80: #fdb72a80
$c60: #fdb72a60
$c40: #fdb72a40
$c20: #fdb72a20
$c00: #fdb72a00

$ca80: #ff901880
$ca60: #ff901860
$ca40: #ff901840
$ca20: #ff901820
$ca00: #ff901800

$bc80: #ffffff80
$bc60: #ffffff60
$bc40: #ffffff40
$bc20: #ffffff20
$bc00: #ffffff00

$fc80: #20202480
$fc60: #20202460
$fc40: #20202440
$fc20: #20202420
$fc00: #20202400

$bc280: #20202480
$bc260: #20202460
$bc240: #20202440
$bc220: #20202420
$bc200: #20202400

$fc280: #d7dbdd80
$fc260: #d7dbdd60
$fc240: #d7dbdd40
$fc220: #d7dbdd20
$fc200: #d7dbdd00
