@use "sass:math"

// color 
$c: #ff7643
$ca: #fdb72a

$c50: #ff764350
$c25: #ff764325

$clink: #3870ec
$clink25: #3870ec25

$c2: #1a1b20
$c2a: #181818
$c2c: #1b1d22

// fonts
$bc: #ffffff
$fc: #141414

$fc80: #14141480
$fc60: #14141460
$fc40: #14141440
$fc20: #14141420
$fc00: #14141400

$bc2: #000000
$fc2: #ffffff

$bc280: #20202480
$bc260: #20202460
$bc240: #20202440
$bc220: #20202420
$bc200: #20202400

$fzh1: 30px
$fzh2: 24px
$fzh3: 20px

$fz: 18px
$fzs: 14px

// отступы 
$ps: 10px
$p: 20px
$pl: 30px

$psec: 100px

// special
$ops: 0.8
$op: 0.5

$deg: 120deg
$skew: -2deg

// переход на мобилку
$m: 976px
$d: 977px

// высота меню
$menu_h: 100px

// shadow
$c80: #fdb72a80
$c60: #fdb72a60
$c40: #fdb72a40
$c20: #fdb72a20
$c00: #fdb72a00

$ca80: #ff901880
$ca60: #ff901860
$ca40: #ff901840
$ca20: #ff901820
$ca00: #ff901800

$bc80: #ffffff80
$bc60: #ffffff60
$bc40: #ffffff40
$bc20: #ffffff20
$bc00: #ffffff00

$fc80: #20202480
$fc60: #20202460
$fc40: #20202440
$fc20: #20202420
$fc00: #20202400

$bc280: #20202480
$bc260: #20202460
$bc240: #20202440
$bc220: #20202420
$bc200: #20202400

$fc280: #d7dbdd80
$fc260: #d7dbdd60
$fc240: #d7dbdd40
$fc220: #d7dbdd20
$fc200: #d7dbdd00
