h3, .h3, h2, .h2, h1, .h1
	margin-top: 0
	margin-bottom: $pl
	text-transform: uppercase
	letter-spacing: 0.1em

h1, .h1
	font-size: $fzh1
h2, .h2
	font-size: $fzh2
h3, .h3
	font-size: $fzh3
