// фон скроллбара
::-webkit-scrollbar
	width: $ps + 4px

// btn-s
::-webkit-scrollbar-button
	display: none

// пустое пространство под индикатором прокрутки
::-webkit-scrollbar-track
	background: #f0f0f0

// индикатор прокрутки
::-webkit-scrollbar-thumb
	background: linear-gradient(to bottom, $c, $ca)
	border-radius: $ps
	border: solid 1px #f0f0f0
