html,
body
	margin: 0
	color: $fc

a
	text-decoration: none
	color: inherit
	cursor: pointer

table
	caption-side: bottom
	border-collapse: collapse

input, button
	outline: none

*:focus-visible
	outline: none

*, ::after, ::before
	box-sizing: border-box

section
	padding-top: $psec
	padding-bottom: $psec
	&.--cntrl
		background: $bc2
		color: $fc2
