// color 
$c: #f5d100

$cb: #ffffff
$ct: #141419

$cb2: #141419
$ct2: #ffffff

$cba: #f5d100
$cta: #141419

// shadow 
$cs: #f5d10030
$csb: #14141930
$cst: #ffffff30

// шрифты 
$fzh1: 24px
$fzh2: 22px
$fzh3: 20px
$fz: 16px
$fzmin: 12px

$fwh: 700
$fw: 400

// отступы 
$ps: 6px
$p: 12px
$pl: 18px

$psec: 50px
$psecl: 70px

// размеры экранов 
$dxl: 1200px
$dl: 1000px
$dm: 800px
$ds: 500px
$dxs: 400px
