.form__feedback
	.__container
		padding-top: $psec
		padding-bottom: $psec

.ff__form
	padding: $p $pl
	color: $c2
	border: 1px solid $c2
	border-radius: $br

.ff__input-wrapper
	&.--text
		width: 100%
		.ff__input
			transition: 0ms all
	&:not(.--text)
		width: 48%

.ff__label
	font-size: $fzmin

.ff__input
	padding: $ps
	margin-bottom: $p

	min-height: 30px
	width: 100%
	border: 1px solid $c2
	border-radius: $br

	font-size: $fz
