.catalog__tab
	overflow: hidden

// heading 
.ct__heading
	opacity: 0.7
	padding-right: 10px
	&:after
		padding-left: 9px
	.__ramka
		opacity: 0
		.--night &
			color: $fc
		.--day &
			color: $fcday

	&.__active
		opacity: 1
		.__ramka
			opacity: 0.2

.ct__heading-inner
	display: flex
	flex-wrap: wrap
	justify-content: space-between

.ct__heading:hover
	cursor: pointer
	.--night &
		color: $c
	.--day &
		color: $c2

@media (max-width: 830px)
	.ct__heading-contains
		width: 50%
		height: 50px
		padding-top: 5px

@media (max-width: 550px)
	.ct__heading-contains
		width: 100%

	.ct__heading-contains
		padding-left: 2rem

// tab 
.ct__item-inner
	position: relative

.ct__item
	position: absolute
	top: 0
	left: 100%
	width: 100%
	opacity: 0

	display: flex
	flex-wrap: wrap

// .__active 
.ct__heading.__active
	color: $c
	.--day &
		color: $c2
		&[data-comment]:after
			color: $fc2

.ct__heading.__active:before
	opacity: 1

.ct__item.__active
	left: 0
	opacity: 1

.ct__item.__outing
	opacity: 0
	left: -50%

.ct__item.__inting
	left: 0
	opacity: 1

.ct__item__description__list-item
	position: relative
	padding-top: 10px
	padding-bottom: 10px
	padding-left: 20px
	font-size: 1.1rem

.ct__item__description__list-item:before
	position: absolute
	top: 0
	left: 0
	width: 10px
	height: 2rem
	font-size: 1.8rem
	opacity: 0.2
	text-align: right

.ct__item__description__list-item:first-child:before
	left: 3px

.ct__item__description__list-item:nth-child(1):before
	content: '1'
.ct__item__description__list-item:nth-child(2):before
	content: '2'
.ct__item__description__list-item:nth-child(3):before
	content: '3'

// calculate 
.ct__item-container
	width: 50%
	padding: $pl
	.__text-opacity
		.--day &
			color: $fcday
			opacity: 0.6

.ct__item__img
	max-width: 220px
	margin: 0 auto 2rem auto
	display: block
	min-width: 220px

.ct__item__description p
	font-size: 0.9rem

.ct__item__service
	display: flex
	padding-top: 3px
	padding-bottom: 3px

.ct__item__service-name__tarif,
.ct__item__service-name
	margin-bottom: 0.5rem
	font-size: 1.1rem
	font-family: 'Roboto'

.ct__item__service-name__tarif
	text-transform: uppercase
	margin-bottom: $pl

.ct__item__service-name:not(:first-child)
	padding-top: 1.25rem
	margin-top: 2.25rem
	position: relative

.ct__item__service-name:not(:first-child):before,
.ct__item__service-name:not(:first-child):after
	position: absolute
	height: 1px
	width: calc(100% + 30px)
	left: -10px
	content: ''

.ct__item__service-name:not(:first-child):before
	top: -1px
	background-color: $bcc
	.--day &
		background-color: $bcc2

.ct__item__service-name:not(:first-child):after
	top: 0
	background-color: $bc
	.--day &
		background-color: $bc2

.ct__item__service-name span
	opacity: 0.2

.ct__item__service-name__tarif > span:first-child
	min-width: 200px
	display: inline-block

.ct__item__service-name__tarif .__ramka
	opacity: 0.2

// ctc__item__service-check
.ct__item__service-check
	width: 20px
	position: relative
	cursor: pointer

.ct__icon
	position: absolute

	top: 0
	left: 0
	width: 20px
	height: 20px
	&--check
		opacity: 0.2
	&--choise
		opacity: 0.6
	.__choise &--check
		opacity: 0
	.__checked &--choise
		opacity: 0
	.__checked & path
		.--night &
			fill: $fc
		.--day &
			fill: $fcday

.ct__item__service-options
	width: calc(100% - 70px)
	padding-left: $pl

.ct__item__service-option
	width: 100%
	padding-left: 2rem
	padding-bottom: 0.4rem
	.--night &
		opacity: 0.6

.ct__item__service-price
	width: 130px
	text-align: right
	padding-right: 10px
	padding-left: 10px
	.--day .ct__item__service:not(.__checked) &
		color: $c2
	.--day & > *
		color: $fc2
	@media (max-width: 355px)
		padding-left: 0

.ct__item-price
	display: flex
	justify-content: flex-end
	margin-right: -10px

.ct__item-price .ct__item-price__border
	width: 100px
	display: block
	position: relative
	text-align: right

	padding-top: 8px
	margin-top: 8px
	font-size: 1.3rem

.ct__item-price .ct__item-price__border:before
	position: absolute
	content: ''
	top: 0
	right: -5px
	width: 120px
	height: 1px
	background-color: $bc
	.--day &
		background-color: $bc2

.ct__item-price .ct__item-price__border:after
	position: absolute
	content: ''
	top: -1px
	right: -5px
	width: 120px
	height: 1px
	background-color: $bcc
	.--day &
		background-color: $bcc2

.ct__item-price .cod-rubl
	width: 20px

.ct__item-price .cod-rubl::before
	font-size: 1.35rem
	top: 4px

// media calculate 
@media (max-width: 850px)
	.ct__item-container
		width: 100%
		padding: $pl

	.ct__item__services__tarif
		max-width: 350px
		margin-left: auto
		margin-right: auto

	.ct__item__service-price
		padding-right: 0

// __checked 
.__checked .ct__item__service-check:before
	background-image: url('/design/template/images/catalog__tab/icons/check__white.svg')
	opacity: 0.2

.__checked .ct__item__service-check:hover:before
	opacity: 0.6

.__checked .ct__item__service-price,
.__checked .ct__item__service-options
	opacity: 0.4
	position: relative

.__checked .ct__item__service-price
	text-decoration: line-through

// ct__item__services__tarif__separator 
.ct__item__services__tarif__separator
	width: calc(100% + 20px)
	height: 1px
	background-color: $bc
	position: relative
	margin-top: $pl
	margin-left: -10px
	margin-bottom: $pl
	.--day &
		background-color: $bc2

.ct__item__services__tarif__separator:after
	left: 0
	top: -1px
	width: 100%
	height: 1px
	position: absolute
	content: ''
	background-color: $bcc
	.--day &
		background-color: $bcc2

// frm__external-button __tarif 
.frm__external-button.__tarif
	margin-left: calc(50% - 140px)
	margin-top: 50px
