// category-pages 
.category-pages .container
	background-color: #ffffff
	color: $ct2
	margin-top: 50px
	margin-bottom: 50px
	padding-top: 50px
	padding-bottom: 50px
	padding-right: 18px
	padding-left: 18px
	border-radius: 12px
	@media (max-width: $dxl)
		max-width: calc(100% - 50px)
