// __________________ 
.text
	text-align: right
	h2
		font-size: $fzh1
	p
		font-size: $fzh3
	.container.--15-let
		background-image: url('/design/template/images/text/background-images/index.png')
	a
		font-family: 'century gothic bold'
		border-bottom: 1px dashed $c
.t__content
	margin: $psec 25%
	padding: $p $p

	background-color: $cb !important
	border: 4px solid $ct
	@media (max-width: $dm)
		margin: $psec 15%
	@media (max-width: $ds)
		margin: $psec 5%
