.woocommerce-gallery__girl
	position: fixed
	z-index: 1

	top: 0
	left: 0
	right: 0
	bottom: 0

	opacity: 0
	background-position: center
	background-repeat: no-repeat
	background-size: contain

	transition: all 1000ms
	&.--active
		opacity: 1
