.woocommerce-gallery
	position: fixed

	top: 0
	bottom: 0
	left: 0
	right: 0

	background-image: linear-gradient(105deg,#1a1819,#39393b,#39393b,#1a1819)

.woocommerce-gallery__btn
	position: fixed
	z-index: 100

	top: calc(50% - 25px)
	left: calc(50% - 150px)
	width: 300px
	height: 50px

	border-radius: 6px
	background: linear-gradient(105deg,#00b601,#00b601,#00b601,#0c6d1c)
	text-align: center
	text-transform: uppercase
	font-weight: bold
	letter-spacing: 1px
	color: #fff
	border: 0
	cursor: pointer

	font-size: 28px
	&:hover
		background: linear-gradient(105deg,#0c6d1c, #0c6d1c)
