.social
	svg
		height: 24px
	path
		fill: $fc2
	a
		width: 40px
		height: 40px

		background: $grad
		border-radius: 5px
		border: 1px transparent
		&:hover
			border: 1px $c50 solid
			box-shadow: -$ps * 0.5 $ps * 0.5 $ps $c25
			background: linear-gradient($deg, $fc2, $fc2)
			path
				fill: $c
