#kontakty
	body.--m &
		padding-bottom: 1.5 * $psec
	a
		&.--select
			font-size: $fz + 1px
			font-family: 'montserrat_semi_bold'
			color: $c
		&:hover
			color: $ca
	h3
		opacity: $op

	.__btn
		width: 200px
		height: 40px
	.location
		body:not(.--sm) &
			display: none
	.navbar__location-icon
		height: 20px
	.location-text > div
		height: 28px
