// js__________________ 
.background-image-text
	background-image: url('/design/template/images/background-image-text/background-images/image_1.jpg')
	padding-top: $psec
	padding-bottom: $psec
	p
		font-size: $fzh3

.bit__wrapper
	width: 90%
	margin-left: auto
	margin-right: auto
	& > *
		padding-left: $pl
		padding-right: $p
