.fips__page
	.class-number b
		font-size: $fzh2
	td
		font-size: $fzmin
		font-weight: bold

	#BibGerb
		text-align: center
		margin: 0

	#BibOName
		width: 100%
		text-align: center
		padding: $pl 0

	#BibSpec
		width: 100%
		text-align: justify
		padding: $ps 0
		font-style: italic
		border-bottom-width: 1px
		border-bottom-style: solid

	#BibType
		font-size: $fzh3
		text-align: center
		padding: $pl 0
		border-bottom-width: 1px
		border-bottom-style: solid

	#BibType2
		text-align: center
		padding: $ps 0
		border-top-width: 1px
		border-top-style: solid
		border-bottom-width: 1px
		border-bottom-style: solid

	.Norm10
		font-size: $fzmin
		font-weight: normal
		vertical-align: top

	.Bold18
		font-size: $fzh1
		font-weight: 1000

	.bib
		padding-top: $ps
		margin: 0
		font-size: $fzmin
		font-weight: normal
		text-align: left

	.bibc
		padding-top: $ps
		margin: 0
		font-size: $fzmin
		font-weight: bold
		text-align: center

	.bib2
		padding-top: $ps
		margin: 0
		font-size: $fzmin
		font-weight: normal
		text-align: justify
		text-indent: 8.5mm

	.bib3
		padding: 0
		margin: 0
		font-size: $fzmin
		font-weight: normal
		text-align: left

	.StartIzvs
		padding: $ps 0
		margin: 0
		font-size: $fzmin
		font-weight: bold
		text-align: center

	hr
		border-width: 1px
		border-style: solid
		border-color: #00000050

	.Green
		background-color: green
		color: white
		text-align: right
		padding: $ps $p

	.Red
		background-color: red
		color: white

	.Yellow
		background-color: yellow
		color: black

	.Black
		background-color: black
		color: white

	.White
		background-color: white
		color: black

	a
		text-decoration: underline

	img
		margin: $pl $p
