.wp-block-file__button.--cntrl
	background-color: $cb !important
	margin-top: $p
	margin-bottom: $p
	&:hover
		background-color: $c !important
		color: $fc2 !important
		border-color: $cb !important
