.okupaemost
	padding-top: $psec
	padding-bottom: $psec

.okupaemost__heading
	opacity: $op

.okupaemost__compare
	display: grid
	grid-gap: $ps

	padding-top: $p
	padding-bottom: $p
	body.--d &
		grid-template-columns: repeat(3, 1fr)
	body.--m &
		grid-template-columns: repeat(2, 1fr)

.okupaemost__description
	padding-top: $p
	padding-bottom: $p

	font-size: $fzs
	font-family: 'montserrat_regular'
