.about
	.__open-more-text-link.__more-text--active
		position: relative
		transform: skew(0, $skew)
		&::before
			position: absolute
			content: ''

			left: 15%
			right: 15%
			top: 50%
			height: 1px

			background-color: $fc
			opacity: $op
